<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="static/editor.css">
        <title> Página do Editor </title>
    </head>
    <body>
        <section> Toll Bar</section>
        <main>
            <input type="text">
            <div>
                <canvas></canvas>
                <div>
                    <ul>
                        <li> Lista dos componentes </li>
                    </ul>
                </div>
            </div>
        </main>
    </body>
</html>